body {
  margin: 0;
  font-family: 'Gruppo', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*, *::before, *::after { box-sizing: border-box;}

select {
  cursor: pointer;
}