.App {
  background-color: #28560b;
  padding: 40px;
  align-items: center;
  width: 50%;
  margin: 20px;

  h3 {
    margin: 20px;
    font-size: 3rem;
  }

  .emojis {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }

  .slick-dots li button:before {
    // height: 90px;
    // width: 80px;
    color: red;
    opacity: 0.9;
  }
}

.carousel-slide {
  background-color: #e2b246;
  border: solid 1px black;
  width: 500px;
  text-align: center;
}
