.no-content-container {
  background-color: inherit;
  // border: solid 1px black;
  width: 40%;
  height: 30%;
  min-height: 300px;
  min-width: 430px;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
  justify-content: space-around;
  border-radius: 2px;
}

.no-content-title {
    // background-color: #28560b;
    width: 80%;
    // color: black;
    // text-decoration: underline;
    font-family: 'Black Ops One', cursive;
    font-size: 2rem;
    // border: solid 1px black;
    padding: 0;
    letter-spacing: 2px;
    margin-bottom: 0;
    // max-height: 5rem;
    // z-index: -3;

    h2 {
      position: relative;
      display: inline-block;
      color: black;
      z-index: 1;
      margin-bottom: 0;
    

      &::before,
      &::after {
        content: '';
        height: 50%;
        display: block;
        position: absolute;
        // top: 20%;
      }

      &::before {
        background-color: white;
        width: 130%;
        height: 100%;
        z-index: -1;
        left: -30px;
        // right: -20px;
      }

      &::after {
        background-color: #28560b;
        width: 300%;
        left: 50%;
        top: 20%;
        transform: translate(-50%);
        z-index: -2;
        // right: -20px;
      }
    }
}

.no-content-message {
    // background-color: #7f8c7d;
    width: 60%;
    height: 50%;
    padding: 3%;
    // overflow-y: scroll;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;

    p {
      margin-top: 10px;
    }

    p::before {
      content: 'h';
      background: #7f8c7d;
      color: #7f8c7d;
      font-size: 10px;
      font-weight: 900;
      display: block;
      margin-bottom: 10px;
    }
    p::after {
      content: 'h';
      background: #7f8c7d;
      font-size: 10px;
      font-weight: 900;
      display: block;
      color: #7f8c7d;
      margin-top: 10px;
    }
}