.warzone-page {
  background: #000;
  height: 100vh;
  background-attachment: fixed;
}

.accordion-section {
  width: 1675px;
  margin: 30px auto;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.6);
  position: relative;
}

.accordion-section figure {
  position: absolute;
  top: 0;
  left: 125px; /* width of visible piece */
  width: 1300px;
  height: 100%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}

.accordion-section > figure {
  position: relative;
  left: 0 !important;
}

.accordion-section img {
  display: block;
  width: 100%;
  height: 100%;
}

.accordion-section label, #arrow-background {
  font-size: 1.4rem;
  padding: 10px;
  width: 125px;
  height: 42px;
  text-align: center;
  background: #4c54509e;
  position: absolute;
  font-weight: bolder;
  
}

#arrow-indicator {
  transform: rotate(90deg);
  width: 8%;
  height: auto;
  position: absolute;
  top: -31px;
  left: 8px;
}



.opening-selection {
  position: relative;
}

.accordion-section input {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px; /* just cover visible part */
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  opacity: 0;
  z-index: 99;
  appearance: none;
}

.accordion-section input:checked {
  width: 5px;
  left: auto;
  right: 0px;
}
.accordion-section input:checked ~ figure {
  left: 1300px;
  transition: all 0.7s ease-in-out;
}

.accordion-section figcaption {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  transition: all 0.2s linear;
  // overflow: scroll;
  font-family: "Orbitron", sans-serif;

  a {
    position: absolute;
    width: 30%;
    top: 15%;
    margin-left: 6%;
  }
}

.accordion-section figcaption span {
  position: absolute;
  top: 40%;
  margin-top: -30px;
  right: 20px;
  left: 20px;
  overflow: hidden;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px;
  color: #fff;
  background: rgba(41, 171, 233, 0.81);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: solid 2px white;
  border-radius: 15px;
  &:hover {
    transition: 0.1s;
    background: rgba(96, 125, 139, 0.81);
  }
}

.accordion-section input:checked + figcaption,
.accordion-section input:checked:hover + figcaption {
  background: rgba(87, 73, 81, 0.05);
}

.accordion-section input:checked + figcaption span {
  transition: all 0.2s ease-in-out 0.2s;
  opacity: 1;
  top: 93%;

}

.accordion-section #accordion-selector-last:checked + figcaption span {
  transition-delay: 0.3s;
}

.accordion-section input:hover + figcaption {
  background: rgba(72, 72, 72, 0.618);
}

.accordion-section input:checked ~ figure input {
  z-index: 1;
}

figure {
  margin: 0px;
}

.accordion-section input:checked + figcaption div {
  transition: all 0.4s ease-in-out 0.5s;
  opacity: 1;
  top: 35%;
}

.accordion-section div {
  opacity: 0;
  color: white;
  font-family: "Gruppo", cursive;
  font-weight: 900;
}

.wz-variant-medals {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  /* margin: auto; */
  background: #00000082;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 15.5%;
}

.wz-variant-medals h3 {
  font-size: 40px;
  margin: auto;
  color: #b5b5b5;
  background: #0000009e;
  width: 100%;
  text-align: center;
}

.wz-displayed-medals {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.wz-tool-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #000000b5;
  padding: 20px;
}

.tool-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background: #d3cfcf6b;
  z-index: 1;
}

.tool-info p {
  margin-right: 20px;
  position: sticky;
  top: 400px;
}

.tool-info img {
  margin: auto;
}

.wz-info-area {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.wz-info-area > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wz-info-area h2 {
  margin: auto;
  text-decoration: underline;
}

.wz-box {
  background: #000000b5;
  padding: 20px;
}

.wz-tool-detail h2 {
  margin: auto;
  width: 26%;
  text-align: center;
  padding: 5px;
}

.wz-tool-detail img {
  filter: drop-shadow(1px 1px 40px rgba(203, 167, 76, 0.653));
}

.warzone-title {
  text-align: center;
  margin: auto;
}

#arrow-background {
  opacity: 1;
}

.empty-wz {
  width: 100%;
  display: flex;
  justify-content: center;

  .no-content-message p {
    color: black;
    background: white;
  }
}

.wz-variant-error {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  .no-content-message p {
    color: black;
    background: white;
  }
}