.carousel-search-options{
  height: 50vh;
  background: rgb(179, 95, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lesser-spartan-details {
  display: flex;
  height: 50vh;
  background: rgb(165, 165, 226);
}

.spartan-gfx {
  width: 50%;
  background: linear-gradient(45deg, #09a53d42, #fffdfd);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px 0px 20px #1311118f;
}

.banner-company-links {
  width: 50%;
  background: linear-gradient(45deg, #fffdfd, #09a53d42);
  box-shadow: inset 0px 0px 20px #1311118f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.lesser-spartan-img {
  width: auto;
  height: auto;
  border-radius: 6px;
  max-width: 500px;
  max-height: 500px;
  opacity: 0.9;
  background: linear-gradient(45deg, black, transparent);
  box-shadow: inset 0px 0px 20px 10px #050a04;
}

.lesser-emblem {
  width: auto;
  height: auto;
  max-width: 150px;
  /* max-height: 100px; */
  box-shadow: 0px 0px 20px 9px #00000073;
  border-radius: 10px;
  background: linear-gradient(45deg, #000000b3, #00000030);
}

.homepage-links {
    border: solid 1px black;
    width: 10rem;
    display: flex;
    justify-content: center;
    background: linear-gradient(130deg, #81a7b8, #7c98a5);
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-shadow: 15px 16px 19px #0806066e;
    box-shadow: inset 0px 0px 9px 7px #0000003b;
    border-radius: 4px;
}

.homepage-links:hover {
  cursor: pointer;
  transition: transform 150ms ease-in;
  transform: scale(0.95);
  opacity: 0.8;
}

.homepage-links:focus {
  outline: none;
}