.carousel-search-options {
  height: 50vh;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
}

.lesser-spartan-details {
  display: flex;
  height: 50vh;
}

.spartan-gfx {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-company-links {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.id-card-name {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  width: 441px;
  border: solid 1px black;
  text-align: center;
  border-bottom: solid 3px #3c0000;
  text-transform: uppercase;
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  border-radius: 5px 5px 0px 0px;
  background: linear-gradient(rgba(45, 132, 96, 0.15),rgba(15, 15, 31, 0.95));
  background-image: url(https://i.imgur.com/azP2W6E.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.id-card-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  border: solid 1px black;
  border-radius: 0px 0px 5px 5px;
  background-image: url(https://i.imgur.com/Y4hWC9F.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.id-image-container-1 {
  margin: 15px;
  border: solid 2px white;
  background: #8c8c8cbd;
}

.id-image-container-2 {
  padding: 15px;
  width: 25%;
}

.lesser-emblem {
  max-height: 175px;
  width: auto;
  border-radius: 3px;
  background: #adadadc7;
}

.homepage-links {
  // border: solid 1px black;
  width: 10rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-shadow: 15px 16px 19px #0c0c0c73;
  box-shadow: inset 0px 0px 9px 7px #0000003b;
  border-radius: 4px;
  font-family: 'Orbitron', sans-serif;
  background: blue;
}

.homepage-links:hover {
  cursor: pointer;
  transition: transform 100ms ease-in;
  transform: scale(0.95);
  opacity: 0.8;
  color: #81a7b8;
  background-color: white;
}

.homepage-links:focus {
  outline: none;
}

.buttons-descriptions-section {
  display: flex;
  justify-content: space-around;
  width: 55%;
  height: 60%;
  align-items: center;
}

.descript-container {
  height: 70%;
  text-align: center;
  padding: 5px;
  width: 150px;
}

.button-links-home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.full-descript {
  height: 90%;
  background: #e4e1e1;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 0px 0px 5px 0px #9a9898
}