.filter-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
  // background: #03a9f4;
  margin-top: 10px;

  p {
    border: 1px solid black;
    text-transform: uppercase;
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
