
.details-text-aligner {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.green-text {
  color: lime;
}

.red-text {
  color: #ff0000;
}

.neutral-text {
  color: white;
}

.details-page-container {
  display: flex;
  justify-content: center;
}

.details-page-body {
  display: flex;
  flex-direction: row;
  // background: #1F1F1F;
  margin-top: 40px;
  border-radius: 10px;
  transition: background 0.3s;
}

.details-page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #ffffff;
  border-collapse: collapse;
  opacity: 0.8;
  background: linear-gradient(399deg, #2c6382a8, #030219bf);
  padding-bottom: 20px;
  transition: opacity 400ms;

  span {
    font-weight: 700;
  }

  &:hover {
    background: linear-gradient(399deg, #10425fa8, #060519bf); 
    border: solid 4px #f7f9c6;
    opacity: 1;

    .csr-container h4,
    .details-page-csr,
    #details-spartan-pic,
    .details-spartan-name,
    .div-medal {
      filter: drop-shadow(1px 1px 5px blanchedalmond);
    }

    .warzone-weapon-image,
    #details-weapon-name {
      filter: drop-shadow(1px 1px 10px GoldenRod);
    }
  }
}

.warzone-section {
  border-left: 0;
  border-right: 0;
}

.details-medals-section {
  padding-left: 20px;
  padding-right: 20px;
}

.csr-container {
  h4 {
    font-size: 2rem;
    color:  white;
    margin: 0px;
  }

  .details-page-csr {
    width: 40%;
    margin: 0;
    height: 200px;
  }
}

.details-spartan-container {
  height: 350px;
  width: 400px;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}

.warzone-images-container {
  position: relative;
  margin-bottom: 40px;
}

#details-spartan-pic {
  opacity: 1;
  height: 300px;
  position: absolute;
  left: 30%;
  bottom: 5%;
  z-index: 1;
}

.details-spartan-name {
  text-transform: uppercase;
  position: absolute;
  bottom: -20%;
  color: blanchedalmond;
  font-size: 2.5rem;
  z-index: 1;
}

#top-separator:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  border-bottom: 4px solid #ffffff;
  margin-bottom: 20px;
  opacity: 0.3;
}

.medals-details {
  display: flex;
  flex-direction: column;
}

.medal-count {
  color: black;
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  bottom: -20px;
  right: -10px;
}

.medals-detail-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 100%;

  h2 {
    color: wheat;
  }
}

.details-medals-column {
  margin: 0px 50px;
}

.single-medal-container {
  display: flex;
  justify-content: center;
  padding: 0px;

  &:hover {
    #div-medal {
      filter: drop-shadow(0px -2px 10px PaleGreen);
    }

    #medal-info {
      filter: drop-shadow(1px 2px 10px PaleGreen);
    }
  }
}

.grouped-details-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.grouped-details-info p{
  margin: 3px;
  color: white;
}

.details-page-heading {
  text-align: center;
  text-decoration: underline;
  color: wheat;
  margin-bottom: 0px;
}

.details-hover-instructions {
  text-align: center;
  color: white;
  font-style: italic;
  margin-top: 0;
}

.details-page-body p {
  font-weight: 900;
}

.warzone-weapon-image {
  width: 90%;
}

.details-weapon-heading {
  color: wheat;
}

#details-weapon-name {
  text-align: center;
  color: #cab156;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
}