.details-page-body {
  display: flex;
  flex-direction: row;
  background: #1F1F1F;
  width: 99%;
  margin: 5px;
  border-radius: 10px;
  transition: background 0.3s;
}

.details-page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: solid 2px greenyellow;
  border-collapse: collapse;
  opacity: 0.3;

  &:hover {
    transition: opacity 400ms;
    background-color: #141315;
    border: solid 8px green;
    opacity: 1;
  }
}

.warzone-section {
  border-left: 0;
  border-right: 0;
}

// .csr-container {
// display: flex;
// }

.medals-details {
  display: flex;
  flex-direction: column;
}

.medal-count {
  color: black;
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  bottom: -20px;
  right: -10px;
}

.medals-detail-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}

.single-medal-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  // position: relative;
}

.div-medal {
  position: relative;
}

.medals-detail-section h2 {
  text-align: center;
}


.grouped-details-info {
  width: 90%;
  padding: 10px;
  margin: 10px;
  // border: dotted 2px green;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.grouped-details-info p{
  margin: 3px;
  color: white;
}

.medals-section {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.details-page-heading {
  text-align: center;
  text-decoration: underline;
  color: wheat;
  margin-bottom: 10px;
}

.details-hover-instructions {
  text-align: center;
  color: white;
  font-style: italic;
  margin-top: 0;
}

.details-page-body p {
  font-weight: 900;
}

.warzone-weapon-image {
  width: 90%;
  filter: drop-shadow(1px 1px 25px GoldenRod);
}