.details-page-container {
  display: flex;
  justify-content: center;
}

.details-page-body {
  display: flex;
  flex-direction: row;
  background: #1F1F1F;
  margin-top: 40px;
  border-radius: 10px;
  transition: background 0.3s;
}

.details-page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #ffffff;
  border-collapse: collapse;
  opacity: 0.6;
  background: linear-gradient(399deg, #def2fd75, #8a9db9);

  &:hover {
    transition: opacity 400ms;
    background: linear-gradient(329deg, #def2fd75, #21314a); 
    border: solid 4px #f7f9c6;
    opacity: 1;
  }
}

.warzone-section {
  border-left: 0;
  border-right: 0;
}

.details-medals-section {
  padding-left: 20px;
  padding-right: 20px;
}

.csr-container {
  h4 {
    font-size: 2rem;
    color:  white;
    margin: 0px;
  };

  .details-page-csr {
    width: 40%;
    margin: 0;
    height: 200px;
}
}

.medals-details {
  display: flex;
  flex-direction: column;
}

.medal-count {
  color: black;
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  bottom: -20px;
  right: -10px;
}

.medals-detail-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 100%;

  h2 {
    color: wheat;
  }
}

.details-medals-column {
  margin: 0px 50px;
}

.single-medal-container {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.div-medal {
  position: relative;
}

.grouped-details-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.grouped-details-info p{
  margin: 3px;
  color: white;
}

.details-page-heading {
  text-align: center;
  text-decoration: underline;
  color: wheat;
  margin-bottom: 10px;
}

.details-hover-instructions {
  text-align: center;
  color: white;
  font-style: italic;
  margin-top: 0;
}

.details-page-body p {
  font-weight: 900;
}

.warzone-weapon-image {
  width: 90%;
  filter: drop-shadow(1px 1px 25px GoldenRod);
}