.whole-page {
  // background: aliceblue;
  height: 100vh;
  background-image: url(https://wallpaperplay.com/walls/full/0/a/1/111571.jpg);
  background-attachment: fixed;
}

.whole-page p {
  font-size: 20px;
}

.imageHolder {
  height: 305px;
  width: 542px;
}

.imageHolder h3,
.weapon-container-b h3 {
  position: absolute;
  color: white;
  font-size: 30px;
  padding: 10px;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 100;
}

// .weapon-container h3 {
//   color: black;
//   text-align: right;
//   font-size: 30px;
// }

.wz-drop-down {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  background: #c9c9c9b3;
  padding: 10px;
  width: 400px;
}

.weapon-info,
.dropbox-data-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weapon-info,
.weapon-container-b,
.imageHolder,
.dropbox-data-content {
  width: 48%;
}

.imageHolder img {
  width: 95%;
  height: 100%;
  margin-left: 20px;
  margin-top: 23.5px;
}

.dropbox-container,
.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #b1e9f06e;
  filter: drop-shadow(2px 4px 6px black)
}

.second-row {
  margin-top: 32px;
}

.second-row img {
  background: #425158c7;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.second-row p {
  text-align: right;
}

.dropbox-container p {
  text-align: left;
}

.main-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 60%;
  margin: auto;
  top: 50%;
  margin-top: 30px;
  background: #c9c9c9b3;
  padding: 20px;
  font-weight: bolder;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.second-row p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container h3 {
  margin: inherit;
}

.heading-details {
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

#imageHolderName {
  margin-left: 20px;
  margin-top: 20px;
}

#playlist {
  font-size: 25px;
  color: black;
}
