.metadata-body {
  background: linear-gradient(0.25turn, #000000, #789bab, #000000);
  height: 100vh;
}

.testt {
  width: 100%;
  display: flex;
  justify-content: center;

  .no-content-container {
    margin-top: 0;
  }
}