#header-all {
  margin-bottom: 0px;
  margin: auto;
  padding: 10px;
  border: 1px solid white;
  border-top: none;
}

#buttons {
  text-transform: uppercase;
  font-size: 0.5rem;
}

.header-title {
  padding-left: 50px;
}

.heading-right-side {
  display: flex;  
}

#header-player-name {
  text-transform: uppercase;
  color: PaleGreen;    
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 2px;
}
