.details-page-body {
  display: flex;
  flex-direction: column;
  background: black;
  background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwallpaperplay.com%2Fwalls%2Ffull%2F1%2F2%2F6%2F111540.jpg);
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: center;
}

.details-page-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 10px;
}

.csr-container {
display: flex;
}

.medals-details {
  display: flex;
  flex-direction: row;
}

.medals-detail-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}

.medals-detail-section h2 {
  text-align: center;
}

.grouped-details-info {
  width: 25%;
  padding: 10px;
  margin: 30px;
  border: dotted 2px green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.grouped-details-info p{
  margin: 3px;
  color: blue;
}

.medals-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.details-page-heading {
  text-align: center;
  text-decoration: underline;
  color: black;
}

.details-page-body p {
  font-weight: 900;
}

.warzone-weapon-image {
  width: 90%;
  filter: drop-shadow(1px 1px 25px GoldenRod);
}