.welcome-heading {
  text-align: center;
  font-size: 3rem;
  background-color: #506c5adb;
  padding: 2rem;
  margin: 0;
  box-shadow: inset 0px 0px 11px 6px #424259A8;
}

h1 {
  color: #efeaeab8;
    text-shadow: 8px 6px 10px #303061;
}

.welcome-page {
  display: flex;
      width: 100%;
      height: 87vh;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(rgba(45, 132, 96, 0.15), rgba(15, 15, 31, 0.95)), url(https://i.imgur.com/8hC5wHt.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: white;
      box-shadow: inset 0px 11px 11px #1C1C27C4;
}

.welcome-form {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 100px;
}

.welcome-search {
  font-size: 2em;
  /* border: none; */
  border-color: #9165654F;
  border-width: 3px;
  border-style: ridge;
}

.welcome-search-input {
  background-color: #FFFFFFB8;
  border-right: none;
  border-radius: 10px 0 0 10px;
}

.welcome-search-button {
  background-color: rgba(127, 140, 125, 0.776);
  border-left: none;
  border-radius: 0 10px 10px 0;
}

// button {
//   border-radius: 5px;
//   border: 1px solid white;
//   background-color: #498467;
//   color: WHITE;
//   font-size: 12px;
//   font-weight: bold;
//   padding: 10px;
//   letter-spacing: 1px;
//   transition: transform 150ms ease-in;
// }

button:hover {
  cursor: pointer;
  transform: scale(0.95);
  opacity: 0.8;
}

button:focus {
  outline: none;
}