.arena-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.arena-dropbox-container {
  display: flex;
  flex-direction: column;
}

.arena-header {
  background: linear-gradient(45deg, #000000eb, #b1b6b1f5, #000000eb);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 90%;
  box-shadow: -1px 1px 3px 0px #000000ab;
  border-radius: 3px;
}

.dropdown-container {
  padding-left: 30px;
}

.arena-title {
  font-size: 3rem;
  margin: 10px -0px;
  text-shadow: 2px 2px 5px #000000;
  color: aliceblue;
  text-transform: uppercase;
  font-family: 'Black Ops One', cursive;
}

label {
  color: whitesmoke;
  font-weight: bold;
}

.buttons-container {
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;

  & .homepage-links {
    border: solid 0.2px #e8d1d1;
    margin: 1px;
    border-radius: 0px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.start-instructions {
  text-align: center;
  color: #faff27;
  font-weight: 700;
  margin-top: 0px;
}

.arena-button {
  font-size: 0.5rem;
}

.arena-main {
  display: grid;
  grid-gap: 1rem;
  height: 80vh;
  grid-template-areas:
    "f i c"
    "a i h"
    "b i h"
    "d i h";
  grid-template-rows: repeat(4);
  grid-template-columns: repeat(3, 33.3% 33.3% 33.3%);
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(50deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.kills-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.arena-spartan {
  width: 100%;
  opacity: 0.9;
  filter: drop-shadow(1px 1px 10px black);
}

.arena-details-box {
  animation: cardEntrance 1000ms ease-out;
  animation-fill-mode: backwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 4px;
  background: linear-gradient(45deg, #305a2b75, #33562cf7);
  border: groove;
  border-radius: 3px;
  width: 70%;
  justify-self: center;
  position: relative;
  padding-top: 40px;
}

.shared-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-a {
  grid-area: a;
  animation-delay: calc(3 * 70ms);
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .box-title {
    font-size: 1.1em;
  }
}

.box-b {
  grid-area: b;
  animation-delay: calc(4 * 70ms);
}

.box-c {
  grid-area: c;
  animation-delay: calc(2 * 70ms);
  right: 45px;
  height: 315px;
  width: 542px;
}

.box-d {
  grid-area: d;
  animation-delay: calc(5 * 70ms);
}

.box-f {
  grid-area: f;
  animation-delay: calc(1 * 70ms);
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 0.5;
}

.box-h {
  grid-area: h;
  animation-delay: calc(6 * 70ms);
}
.box-i {
  grid-area: i;
  background: inherit;
  animation: none;
  width: 90%;
  border: none;
  box-shadow: none;
  z-index: 1;
}

.game-variant-name {
  text-align: center;
}

.box-title {
  color: wheat;
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  top: 0;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
}


.arena-main p {
  font-size: 1rem;
  margin: 2px;
  color: white;
  margin: 2px;
  font-family: 'Gruppo', cursive;
  font-weight: 900;
}

.hover-instructions {
  font-style: italic;
  position: absolute;
  top: 30px;
  font-size: 0.5rem;
}
.wep-heading {
  display: flex;
  justify-content: center;
}

.weapon-container {
  .weapon-image { 
    height: 305px;
    width: 542px;
    position: absolute;
    background-color: inherit;
    padding: 20px 0px;
    opacity: 1;
  }

  .best-wep-info {
    opacity: 0;
  }
  
  &:hover {  
    .weapon-image {
      opacity: 0.6;
      transition: opacity 500ms ease-in;
    }

    .best-wep-info {
      opacity: 1;
      transition: opacity 500ms ease-in;
      z-index: 1;
    }

    .best-wep-title {
      color: #f4f900;
      font-family: 'Black Ops One', cursive;
      margin-bottom: 10px;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
    }

    .box-details {
      font-size: 2rem;
    }
  }
}

.single-medal-container {
  display: flex;
  flex-direction: row;
  position: relative;

  .medal-info {
    opacity: 0;
    position: absolute;
  }

  &:hover {
    .medal-info {  
      opacity: 1;
      transition: opacity 300ms ease-in;
      right: -50px;
      bottom: -60px;
      background: wheat;
      color: black;
      border: solid 1px gold;
      z-index: 1;
      padding: 5px;
    }
  }
}
.csr-image-container {
  display: flex;
  justify-content: center;
}

.tier-image {
  z-index: 1;
  position: absolute;
  width: 50%;
}

.banner-image {
  width: 60%;
}